@import "../utils/settings";

.form{
    
    &-input, &__text-area, &__search-input input, &-label{
        font-family: 'Tw Cen MT', Verdana, Geneva, Tahoma, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: $font-size-md;
        line-height: getValueInREM(15px);
        &::placeholder{
            color: $placeholder-color;
        }
    }

    &-input, &__text-area, &__search-input{
        border: 1px solid $form-highlight-color;
        border-radius: $border-radius-xs;
        color: map-get($black-pallet, mid );
        padding: 1.25em 1.2em;
        width: auto;
    }

    &__search-input{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 1.4em 1.2em 1.4em  1.2em;
        width: 25em;
        border: none;
        box-shadow: -2px -2px 2px rgba(204, 204, 204, 0.25), 2px 2px 2px rgba(204, 204, 204, 0.25);;
        

        input{
            border: none;
            outline: none !important;
            margin-left: .3em;
            background-color: transparent;
            width: 97%;
        }

    }

    &__text-area{
        resize: none;
        width: 100%;
    
    }

    &-label{
        color: $accent-color;
    }

    &-group{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 3rem;

        &__full{
            display: flex;
            flex-direction: row;
        }
    }

    &-control{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 2rem;
        & .form-label{
            margin-bottom: 0.5em;
        }
        
    }
}